
.contenedorCard{
    width: 80vw;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-azul-oscuro);
    
    padding: 1rem;
    align-items: center;
    transition:
    scale .2s;
    cursor:pointer;
}
.contenedorImagenesCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedorCard:hover{
    scale: 1.05;
    
}
.tituloCard{
    width: 20vw;
    margin-bottom:.5rem;
    
}

.contenedorPreview{
    max-width: 35%;
    border: white solid .2rem;
}
.preview{
    width: 100%
}
.contenedorDescripcionProyecto{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content:center;
    align-items: center;
    height: 100%;
}
.subtituloCard{
    
    font-size: calc( .5rem + .7vh);
    height: 10%;
    align-items: center;
    
}

.descripcionCard, .subtituloCard{
    width: 100%;
    color: white;
    text-align: center;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorHabilidadesCard{
    list-style: none;
    justify-content: center;
    width: 100%;
    display: flex;
    height: calc(1rem + .5vh);
    flex-wrap: wrap;
    height: 10%;
}
.descripcionCard{
    font-size: calc(.4rem + .5vw);
}
.textosProyecto{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.habilidadCard{
    width: 100%;
    opacity: 50%;
    height: 100%;
    display: flex;
    align-items: end;
}
.listadoHabilidadCard{
    margin: 0 .5vh;
    height: 100%;
    width: calc(1rem + .5vw);
    align-items: end;
}
@media (max-width: 1024px){
    .contenedorCard{
        height: 35%;
    }
    }
@media (max-width: 768px){
    .descripcionCard, .subtituloCard{
        
        margin-left: 0rem;
    }
    .descripcionCard{
        font-size: calc(.3rem + 1vw);
       }
    .contenedorCard{
       flex-direction: row;
       width: 80%;
       height: 35%;
    }
    .contenedorImagenesCard{
        width: 30%;
    }
    .contenedorPreview{
        display:none;
    
    }
    .contenedorHabilidadesCard{
      
    }
}
@media (max-width: 590px){
    .tituloCard{
        width: 30vw;
        
        
    }
    .descripcionCard{
        font-size: calc(.35rem + 1vw);
       
    }
    
}
