
.logoHabilidad{
    width: 2.5rem;
}
.tituloHabilidad{
    display: block;
    text-align: center; 
    
    font-size: .8rem;
   

}
.descripcionHabilidad{
    font-size: .6rem;
    font-weight: 600;
    text-align: center;
    padding: 0 .2rem;
    color: black;
}
.cardContainer {
    perspective: 1000px; /* Añade perspectiva para el 3D */
   border: 2px solid var(--azul-oscuro);
  }
  
  .card {
    height: 5.5rem;
    display: flex;
    position: relative;
    align-items: center;
    
    border-radius: 1rem;
    transform-style: preserve-3d;
    transition: 
        transform 0.8s,
        scale 0.8s;
        
    
  }
  
  .cardFace {
    backface-visibility: hidden; /* Oculta la cara posterior */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-naranja);
  }
  
  .cardFront {
    display: flex;
    flex-direction: column-reverse;
    gap: .2rem;
    color: var(--azul-oscuro);
    
    
    
  }
  
  .cardBack {
   
    color: white;
    transform: rotateY(180deg);
    
    
  }
  
  .cardContainer:hover .card {
    transform: rotateY(180deg);
    scale: 1.1;
  }