section{
    
    height: 100vh;
    
    }
.inicio{
    background-color: var(--color-negro);
   
    display: flex;
}
.contnedorTextosInicio{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}
.contenedorImagenInicio{
    width: 50%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content:center;
    
}
.contenedorImagenInicio img{
    height: 100vh;
    width: auto;
}

.nombre, .descripcion, .subtitulo{
    color: white;
    font-weight:normal;
    text-align: center;
}
.subtitulo{
    font-size: 4rem;
    font-family: var(--Aleo);
}
.descripcion{
    font-size: 1rem;
    padding: 0 calc(2rem + 1vh);
}
.logoAndaristis{
    filter: drop-shadow(0 0 5px white);
    height: 100px;
}
@media (max-width: 1024px)
{
.subtitulo{
    font-size: 3.5rem;
}
.descripcion{
    font-size: 1rem;
}
}
@media (max-width: 768px){
    .nombre{
        font-size: 1rem;
    }
    
    .subtitulo{
        font-size: calc(1.7rem + 1vw);
    }
    .descripcion{
        font-size: .8rem;
    }
    .logoAndaristis{
        height: 80px;
    }
}
@media (max-width: 425px){
    .contnedorTextosInicio{
        position: relative;
        width: 100%;
        z-index: 0;
        background-color: #000000eb;
        
    }
    .contenedorImagenInicio{
        position: absolute;
        display: block;
        z-index: 0;
        justify-content:left;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .contenedorImagenInicio img{
        height: 100%;
        width: auto;
    }
    
}