@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-negro: #000000;
    --color-negro-azul: #000007;
    --color-azul-oscuro: #1A1A2E;
    --color-naranja: #F89B55;
    --color-blanco: #FFFFFF;
    --montserrat: 'Montserrat', sans-serif;
    --Aleo: 'Aleo', sans-serif;
  }